<link rel="stylesheet" href="/CSS/rooms.css">
<div class="container" id="mainWrapper">
    <div class="container" id="formContainer">
        <div class="container" id="InnerForm">
            <h1>Add New Room</h1>
            <form id="AddRoom">
                <div class="form-group">
                    <label for="Rtitle"> Enter Destination Title </label>
                    <textarea class="form-control" id="Rtitle" name="Rtitle" placeholder="Enter Title"></textarea>
                </div>
                <div class="form-group">
                    <label  for="pricePer">Enter Price Per Stay</label>
                    <input placeholder="Enter Price" class="form-control" type="number" id="pricePer" name="pricePer">
                </div>
                <div class="form-group">
                    <label for="Rdesc">Enter A Description</label>
                        <textarea class="form-control" id="Rdesc" name="Rdesc" 
                            placeholder="Enter a breif Description of your destination"></textarea>                    
                </div>
                <div class="form-group">
                    <label for="Rlocation">Enter Location</label>
                    <input type="text" id="Rlocation" class="form-control" name="Rlocation" placeholder="Enter Location">
                </div>
                <div class="form-group">
                    <label for="Rpic">Upload Photo</label> <br>
                    <input type="file" >                    
                </div>
            </form>
        </div>

    </div>

</div>