<link rel="stylesheet" href="/CSS/errors.css">

<div class="display-1 blockquote text-center" >
      <h1>Error User Login Failed!</h1>
      {{#each errors}} <div id='err' >{{this}}</div> {{/each}}
      </div>
<div class="container" id="logInCont">    
        <h1> Sign In</h1>
        <form id="login" method="POST" action="/user/login">                               
            <div class="form-group">
                <input class="form-control" type="email" id="userName" name="userName" required placeholder="Enter Email">                                    
            </div>
            <div class="form-group">
                <input class="form-control" type="password" id="Lpassword" name="Lpassword" placeholder="Enter Password">                                      
            </div>
            <br>
            <div>
                <button type="submit" id="logIn" class="btn btn-success btn-lg">Log In</button>
            </div>
        
        </form>

</div>
